*.class
*.log
.idea

# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.bsp/

# from VS Code
.bloop/
.metals/
.vscode/
project/.bloop/
project/metals.sbt
project/project/

# running/testing
in/
out/
mentions.json
mentions.jsonl
mentions.tsv

# docker
docker/bin/
docker/lib/

# For MacOS filesystem
.DS_Store
